html {
  font-family: Georgia, serif;
}

.content {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.flex-container {
  display: grid;
  grid-template-columns: 25% 75%;
  flex-grow: 1;
}

.left-side {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-right-color: #eaeaeb !important;
  border-right-width: 1px !important;
  border: 0 solid #e5e7eb;
}

.left-side img {
  border-radius: 50%;
  width: 80%;
  margin: 2rem 0 0 0;
}

.main-content {
  background-color: whitesmoke;
}

.navbar {
  height: 8vh;
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: space-between;
  align-items: center;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  width: 16rem;
  padding: 4px 10px;
}

.navbar-name {
  padding: 2px 20px;
  color: black;
  font-size: 1.75em;
  text-decoration: none;
  
}

.navbar-list {
  display: flex;
  list-style-type: none;
}

.navbar-item {
  padding: 10px 20px 10px 0;
  font-size: 1.25em;
  font-family: Georgia, serif;
  text-decoration: none;
  color: black;
}

.content-footer {
  width: 100%;
  background-color: rgb(186, 204, 224);
  bottom: 0;
  margin-top: auto;
}

.footer-section {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-around;
}

.footer-section .left, .footer-section .middle, .footer-section .right {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-section .left {
  flex-direction: column;
}

.footer-section .middle {
  width: 33%;
}

.footer-section .right {
  width: 33%;
}

.footer-section .right img {
  width: 2em;
  padding: 0 1em 0 0;
}

.footer-section .logo {
  width: 33%;
}